<meta charset="utf-8">
 <style>
  body {
   font-family: Arial, sans-serif;
   background: linear-gradient(to bottom, #120a8f, #808080);
   margin: 0;
   padding: 0;
  }

  .container {
   width: 500px;
   margin: 0 auto;
   background-color: #FFF;
   padding: 20px;
   border-radius: 10px;
   margin-top: 50px;
  }

  h1 {
   text-align: center;
  }

  form {
   margin-top: 30px;
  }

  label {
   display: block;
   margin-bottom: 10px;
   color: #555;
  }

  input[type="text"],
  input[type="email"],
  select {
   width: 100%;
   padding: 8px;
   border: 1px solid #CCC;
   border-radius: 5px;
   margin-bottom: 20px;
  }

  button[type="submit"] {
   display: block;
   width: 100%;
   padding: 10px;
   background-color: #333;
   color: #FFF;
   border: none;
   border-radius: 5px;
   cursor: pointer;
  }
  nav {
        text-align: center;
    }
    nav a {
        font-size: 20px;
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
    }
    nav a:hover {
        color: yellow;}
 </style>
